<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kitchen.mapper.DishTypeMapper">

  <resultMap id="BaseResultMap" type="com.example.kitchen.model.DishType">
    <id column="dishTypeId" jdbcType="INTEGER" property="DishTypeid" />
    <result column="dishTypeName" jdbcType="VARCHAR" property="DishTypename" />
    <result column="dishTypeDesc" jdbcType="VARCHAR" property="DishTypedesc" />
  </resultMap>

  <sql id="Base_Column_List">
    dishTypeId, dishTypeName, dishTypeDesc
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dish_type
    where dishTypeId = #{DishTypeid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dish_type
    where dishTypeId = #{DishTypeid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.example.kitchen.model.DishType">
    insert into dish_type (dishTypeId, dishTypeName, dishTypeDesc
      )
    values (#{DishTypeid,jdbcType=INTEGER}, #{DishTypename,jdbcType=VARCHAR}, #{DishTypedesc,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.example.kitchen.model.DishType">
    insert into dish_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="DishTypeid != null">
        dishTypeId,
      </if>
      <if test="DishTypename != null">
        dishTypeName,
      </if>
      <if test="DishTypedesc != null">
        dishTypeDesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="DishTypeid != null">
        #{DishTypeid,jdbcType=INTEGER},
      </if>
      <if test="DishTypename != null">
        #{DishTypename,jdbcType=VARCHAR},
      </if>
      <if test="DishTypedesc != null">
        #{DishTypedesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.example.kitchen.model.DishType">
    update dish_type
    <set>
      <if test="DishTypename != null">
        dishTypeName = #{DishTypename,jdbcType=VARCHAR},
      </if>
      <if test="DishTypedesc != null">
        dishTypeDesc = #{DishTypedesc,jdbcType=VARCHAR},
      </if>
    </set>
    where dishTypeId = #{DishTypeid,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.example.kitchen.model.DishType">
    update dish_type
    set dishTypeName = #{DishTypename,jdbcType=VARCHAR},
      dishTypeDesc = #{DishTypedesc,jdbcType=VARCHAR}
    where dishTypeId = #{DishTypeid,jdbcType=INTEGER}
  </update>

  <select id="selectAllByLimit" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from dish_type
    limit #{begin}, #{size}
  </select>

  <select id="selectCount" resultType="int">
    select count(*) from dish_type
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from dish_type
  </select>

  <select id="selectCountBySearch" resultType="int">
    select count(*) from dish_type
    <where>
      <if test="DishTypename != null and DishTypename != '' ">
        and dishTypeName like concat('%',#{DishTypename},'%')
      </if>
      <if test="dishTypeName != null and dishTypeName != '' ">
        and dishTypeName like concat('%',#{dishTypeName},'%')
      </if>
    </where>
  </select>

  <select id="selectBySearch" resultMap="BaseResultMap">
    select dishTypeId, dishTypeName, dishTypeDesc
    from dish_type
    <where>
      <if test="DishTypename != null and DishTypename != '' ">
        and dishTypeName like concat('%',#{DishTypename},'%')
      </if>
      <if test="dishTypeName != null and dishTypeName != '' ">
        and dishTypeName like concat('%',#{dishTypeName},'%')
      </if>
    </where>
    limit #{begin}, #{size}
  </select>

</mapper>
